# AI Studio Environment Configuration
PORT=3000
GEMINI_API_KEY=
VITE_SUPABASE_URL=https://hojiveehwtazeqiymnwg.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_YvL0wE3RtQ71kQqU1hOVzA_yQTtOeFI
